@import url('https://fonts.googleapis.com/css2?family=BoonBoon&family=Kanit:wght@300&family=Mali:wght@300&family=Prompt:wght@300&family=Sukhumvit+Set:wght@300&display=swap');

body {
    background-color: #131316;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 2s;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.image-container {
    position: relative;
    display: inline-block;
}

.center-image {
    margin-left: 0;
    object-fit: cover;
    border: 10px solid #ffffff;
    border-radius: 10px;

}

.centered-text {
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px;
    border-radius: 10px;
    transition: color 1s; 
}

.centered-text:hover{
    color: aqua;
}