body {
    background-color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    display: flex; /* ใช้ Flexbox */
    flex-direction: column; /* แนวตั้ง */
}

.img {
    width: 30%;
    padding: 0;
    height: auto;
    display: block;
    margin: 0;
}

nav {
    display: flex; /* ใช้ Flexbox ใน nav */
    align-items: center; /* จัดให้อยู่กลางแนวตั้ง */
    padding: 10px; /* เพิ่มระยะห่างภายใน */
    background-color: #000000; /* เปลี่ยนสีพื้นหลัง */
}

.text {
    color: #000000;
    margin-left:  30%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column; /* จัดลิงก์ในแนวตั้ง */
}

.text a {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    margin: 40px 0; /* เพิ่มระยะห่างระหว่างลิงก์ */
    display: block; /* จัดให้ลิงก์แต่ละอันอยู่ในบรรทัดใหม่ */
    transition: 0.3s ease;
}

.text a:hover {
    transform: 1.5s;
    font-size: 3rem;
    color: rgba(64, 226, 255, 0.813);
}